<!-- FOOTER -->
<footer>
  <!-- FOOTER TOP -->
  <div class="gl-footer-top-wrapper">
    <div class="container">
      <div class="row">
        <!-- FOOTER WIDGET -->
        <div class="gl-footer-widget gl-footer-logo gl-footer-fixed-widget">
          <a href="#">
            <%= image_tag "logo-footer.png", alt: "Factory Door" %>
          </a>
        </div>
        <!-- END -->

        <!-- FOOTER WIDGET -->
        <div class="gl-footer-widget gl-contact-info">
          <h3 class="gl-footer-widget-title">Contact info</h3>

          <div class="gl-footer-widget-content">
            <ul>
              <li><i class="fa fa-map-marker"></i>Unit 1, 1 The Crescent, Kingsgrove NSW 2208</li>
              <li><i class="fa fa-phone"></i>0632 0152 001</li>
              <li><i class="fa fa-envelope-o"></i>contact@thefactorydoor.com</li>
              
            </ul>
          </div>
        </div>
        <!-- END -->

        <!-- FOOTER WIDGET -->
        <div class="gl-footer-widget gl-useful-links">
          <h3 class="gl-footer-widget-title">Company</h3>

          <div class="gl-footer-widget-content">
            <p style="color:#5b5b5b">Factory Door connects people wanting to easily source products and materials directly with manufacturers. 
          </div>
        </div>
        <!-- END -->

        <!-- FOOTER WIDGET -->
        <div class="gl-footer-widget gl-subscribe-widget">
          <h3 class="gl-footer-widget-title">Be Informed</h3>

          <div class="gl-footer-widget-content">
          <p>Keep in touch with website updates and opportunities.</p>

          <form action="#">
            <input type="email" name="gl-subscription" id="gl-subscription" placeholder="Your email">
            <button type="submit" class="gl-btn">Submit</button>
          </form>
          </div>
        </div>
        <!-- END -->
      </div>
    </div>
  </div>
  <!-- END -->

  <!-- FOOTER BOTTOM -->
  <div class="gl-footer-bottom-wrapper">
    <div class="container">
      <div class="row">
        <!-- COPYRIGHT INFO -->
        <div class="gl-copyright-info-wrapper">
          <p>Copyright &copy; 2016 Factory Door. All rights reserved</p>
        </div>
        <!-- COPYRIGHT INFO -->

        <div class="gl-social-info-wrapper">
          <ul>
            <li>
                 <a href="support@thefactorydoor.com">support@thefactorydoor.com</a></p>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- END -->
</footer>
<!-- FOOTER END -->